<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, follow">
    <meta name="author" content="Mateo Ocampo Cavalleri">
    <meta name="description" content="Revive la historia del fútbol con Football Classics. Descubre camisetas legendarias y momentos icónicos que marcaron generaciones.">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Productos</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="index.html">
                    <img src="../assets/images/logo-football-classics.png" alt="Logo de la empresa" width="70" height="70">
                </a>
            </div>

            <input type="checkbox" class="check-menu" id="check-menu">

            <ul class="nav-links">
                <li><a href="../index.html">Home</a></li>
                <li><a href="productos.html" class="active">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        

            <label for="check-menu" class="label-check">
                <img src="../assets/images/menu-1-svgrepo-com.svg" alt="Icono menú hamburguesa"  width="40" height="40">
            </label>
        </nav>
        
    </header>

    <!-- Contenido de la Página -->
    <main>
        <section class="content" id="products-section">
            <div class="container-xl">
                <h2>Productos</h2>
                <div class="cards mt-50">
                    <div class="card">
                        <img src="../assets/images/boca-2002-front.jpg" alt="Camiseta de Boca Juniors del 2002 de Riquelme" width="200" height="200">
                        <div class="card-text">
                        <h3>Boca Juniors 2002 #10 Riquelme</h3>
                        <p>40.00€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/roma-99.jpg" alt="Camiseta de AS Roma del 1999 de Totti" width="200" height="200">
                        <div class="card-text">
                        <h3>AS Roma 1999 #10 Totti</h3>
                        <p>29.99€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/west-ham-2005-front.png" alt="Camiseta del West Ham del 2005 de Tévez" width="200" height="200">
                        <div class="card-text">
                        <h3>West Ham 2005 #32 Tevez</h3>
                        <p>35.00€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/palermo-14-15.jpg" alt="Camiseta del US Palermo de la temporada 2014/15 de Dybala" width="200" height="200">
                        <div class="card-text">
                        <h3>US Palermo 14-15 #10 Dybala</h3>
                        <p>24.99€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/man-city-2012.jpg" alt="Camiseta del Manchester City del 2012 de Agüero" width="200" height="200">
                        <div class="card-text">
                        <h3>Manchester City 2012 #16 Agüero</h3>
                        <p>29.99€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/villareal-05.jpg" alt="Camiseta del Villareal CF del 2005 de Riquelme" width="200" height="200">
                        <div class="card-text">
                        <h3>Villareal CF 2005 #8 Riquelme</h3>
                        <p>40.00€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/barcelona-11-12.jpg" alt="Camiseta del FC Barcelona de la temporada 2011/12 de Messi" width="200" height="200">
                        <div class="card-text">
                        <h3>FC Barcelona 11-12 #10 Messi</h3>
                        <p>40.00€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/real-madrid-06-07.jpg" alt="Camiseta del Real Madrid de la temporada 2006/07 de Beckham" width="200" height="200">
                        <div class="card-text">
                        <h3>Real Madrid 06-07 #23 Beckham</h3>
                        <p>35.00€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/francia-98.jpg" alt="Camiseta de la selección de Francia del mundial 1998" width="200" height="200">
                        <div class="card-text">
                        <h3>Francia 1998 #10 Zidane</h3>
                        <p>29.99€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/alemania-1998.jpeg" alt="Camiseta de la selección de Alemania del mundial 1998" width="200" height="200">
                        <div class="card-text">
                        <h3>Alemania 1998</h3>
                        <p>24.99€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/ajax-00-01.jpeg" alt="Camiseta del Ajax de la temporada 2000/01" width="200" height="200">
                        <div class="card-text">
                        <h3>Ajax 00-01</h3>
                        <p>29.99€</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../assets/images/parma-95.jpeg" alt="Camiseta del Param Calcio de 1995" width="200" height="200">
                        <div class="card-text">
                        <h3>Parma Calcio 1995</h3>
                        <p>24.99€</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <!-- Footer -->
    <footer>
        <div class="info-empresa">
            <p>Dirección de la empresa</p>
            <p>Aviso legal</p>
        </div>

        <div class="redes">
            <a href="https://instagram.com" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="aliceblue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4l0 -8" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg> </a>

            <a href="https://x.com" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="aliceblue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 4l11.733 16h4.267l-11.733 -16l-4.267 0" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg> </a>

            <a href="https://youtube.com" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="aliceblue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-youtube"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8" /><path d="M10 9l5 3l-5 3l0 -6" /></svg> </a>

            <a href="https://linkedin.com" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="aliceblue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4l0 -10" /></svg></a>
        </div>
    </footer>
</body>
</html>
